@page
@model IndexModel

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home page";
    Layout = "_SubLayout";
}
<div class="row full-width">
    <div class="col">
        <div class="content-panel">
            <p class="claim">
                @Localizer["WereGettingMarried"]
            </p>
            <p class="content-heading">
                <span >@Localizer["WeddingDate1"]</span> @Localizer["WeddingDate2"]
            </p>
            <p class="place">
                Gaynes Park, Epping, Essex
            </p>
        </div>
    </div>
</div>
<div id="myCarousel" class="col carousel slide full-width" data-bs-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/bg_t30_445098_c198246.jpg" class="d-block img-fluid w-100" />
            <div class="carousel-caption d-none d-md-block carousel-mycaption">
                <p class="text-uppercase">Patrice &amp; Xalbat</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/floral-love-letters-walled-garden1.jpg" class="d-block img-fluid w-100" alt="Slide 2" />
            <div class="carousel-caption d-none d-md-block carousel-mycaption">
                <p class="text-uppercase">@Localizer["SaveTheDate"]</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/pastel-coloured-flowers-in-hessian-baskets2.jpg" class="d-block img-fluid w-100" alt="Slide 3" />
            <div class="carousel-caption d-none d-md-block carousel-mycaption">
                <p class="text-uppercase">@Localizer["WeddingDate"]</p>
            </div>
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div id="carouselExampleSlidesOnly" class="col carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        </div>
    </div>
</div>


<div class="row websiteContainer" >
    <div class="col">
            <ul class="app-website-sections">
                <li class="app-website-render-wrapper sectionRender__wrapper websiteSectionWrapper">
                    <div class="app-website-render">
                        <div class="websiteContainerSection">
                        <div class="headingHero">
                            @Localizer["WeddingWelcome"]
                            </div>
                            <div class=" websiteFont__hero" >
                            <p>@Localizer["Yes! We are getting married!"]</p><p>@Localizer["We are so excited"]</p><p>@Localizer["As we wait for"]</p><p>@Localizer["Just one important thing"]</p><p>@Localizer["Enjoy the site and see you soon, lots of love!"]</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</div>
<div class="row background-sep">
</div>
<div class="row websiteFooterWelcome full-width">
</div>